<%- include('header.ejs') %>
    <!-- Begin Li's Breadcrumb Area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">forgotPassword</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Li's Breadcrumb Area End Here -->
    <!-- Begin Login Content Area -->
    <!-- jersey man user registration -->
    <div class="page-section mb-60">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                    <form action="/forgot-password">

                        <div class="login-form">
                            <h4 class="login-title">Recover Your Account</h4>
                            <div class="row">
                                <%if( !otpCheck){%>
                                    <div class="col-md-12 col-12 mb-20">
                                        <label>Email</label>
                                        <input class="mb-0" type="text" placeholder="Enter Your Email" name="email"
                                            id="email">
                                    </div>
                                    <%}%>
                                        <li class="text-center text-success" id="otpSuccess"></li>
                                        <li class="text-center text-danger" id="otpError"></li>
                                        <%if( !otpCheck){%>
                                            <div class="col-12">
                                                <button id="sendOtpBtn" type="submit" onclick="sendOtp(event)"
                                                    class="register-button mt-0">Confirm</button>
                                            </div>
                                            <%}%>
                                                <input type="text" id="otpCheck" value="<%=otpCheck%>" hidden>
                    </form>

                    <script>
                        const otpErrMessage = document.getElementById('otpError')
                        const otpSuccessMessage = document.getElementById('otpSuccess')
                        const sendOtpBtn = document.getElementById('sendOtpBtn')
                        // function otpCheck(){
                        //     otpStatus=document.getElementById('otpCheck').value
                        //     if(otpStatus=='success'){
                        //         otpSuccessMessage.value='An Otp is send to your Email'
                        //         sendOtpBtn.style.display='none'
                        //     }
                        // }

                        function sendOtp(event) {
                            event.preventDefault();

                            const email = document.getElementById('email').value

                            console.log(email + ' this is email');
                            const data = {
                                email: email
                            }
                            fetch('/forgot-password-send-otp', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data)
                            }).then(response => {
                                if (response.status == 400) {
                                    throw new Error('User not found')
                                }
                                return response.json()
                            })
                                .then(data => {
                                    console.log(data.message);
                                    const message = data.message
                                    otpErrMessage.style.display = 'none'
                                    window.location.href = '/otp'


                                })
                                .catch(error => {

                                    console.log(error.message);
                                    const errMessage = error.message
                                    otpErrMessage.innerHTML = errMessage
                                    otpSuccessMessage.style.display = 'none'



                                });

                        }

                    </script>

                    <!-- ------dummy ---------- -->
                    <%if(message==='before otp'){%>
                        <%console.log(message)%>
                            <%}else if(message==='otp send' ){%>
                                <form action="">
                                    <h6 class="login-title">An OTP is send to your Email</h6>
                                    <div class="col-md-6 col-12 mb-20">
                                        <label>OTP</label>
                                        <input class="mb-0" type="text" placeholder="Enter OTP">
                                    </div>
                                    <div class="col-12">
                                        <button class="register-button mt-0">Sign Up</button>
                                    </div>
                                </form>
                                <%}%>
                                    <!-- ------------------------ -->
                                    <%if( otpCheck=='success' ){%>
                                        <!-- <div class="login-form"> -->
                                            
                                                <div class="row">
                                                    <div class="col-md-6 mb-20">
                                                        <label>Enter New Password *</label>
                                                        <input class="mb-0" type="password"
                                                            placeholder="Enter Your Password" name="password"
                                                            id="password">
                                                    </div>
                                                    <div class="col-md-6 mb-20">
                                                        <label>Confirm Password *</label>
                                                        <input class="mb-0" type="password"
                                                            placeholder="Confirm Your Password" name="cpassword"
                                                            id="cpassword">

                                                    </div>
                                                    <div class="col-md-12 mb-20">
                                                        <li class="text-center text-danger" id="message"></li>
                                                    </div>


                                                    <div
                                                        class="col-12 text-center d-flex align-items-center justify-content-center ">
                                                        <button class="register-button mt-0"
                                                            onclick="validatePassword()">Sign
                                                            Up</button>
                                                    </div>
                                                <!-- </div> -->
                                        </div>
                               
                                        <%}%>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script>
        function validatePassword() {
            event.preventDefault();
            resetErrors();
    
            var password = document.getElementById('password').value.trim();
            var confirmPassword = document.getElementById('cpassword').value.trim();
    
            // Validate password
            if (!isValidPassword(password)) {
                setError('password', 'Password must be at least 8 characters long with at least one uppercase, one lowercase, and one special character.');
                return;
            }
    
            // Validate password and confirm password match
            if (password !== confirmPassword) {
                setError('cpassword', 'Password and Confirm Password must match.');
                return;
            }
    
            // If all validations pass, the form will be submitted
            setMessage(''); // Clear any previous error messages
            // Submit the form or perform further actions
            // call fetch if no errors in password matching is found
            updatePass()
    
        function isValidPassword(password) {
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
            return passwordRegex.test(password);
        }
    
        function resetErrors() {
            var errorFields = document.querySelectorAll('.text-danger');
            errorFields.forEach(function (field) {
                field.innerText = '';
            });
        }
    
        function setMessage(text) {
            document.getElementById('message').innerText = text;
        }
    
        function setError(field, text) {
            document.getElementById('message').innerText = text;
        }

    }


    function updatePass(){
        const password=document.getElementById('password').value
    const requestData = {
      password:password
    };
    
    fetch('/changePass', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(requestData)
    }).then(response => response.json())
      .then(data => {
        console.log(data.message);
        const sMessage='Password Updated Successfully'
        window.location.href=`/login?sMessage=${encodeURIComponent(sMessage)}`
      })
      .catch(error => {
        console.log('Error updating cart quantity:', error);
      });
    }
    </script>
    
    <!-- Login Content Area End Here -->
    <%- include('footer.ejs') %>